
<div class="home-page">



<% if current_user %>

<p>These are the items that we need to buy:</p>

 <table style="width: 50%;" >
    <tbody>

        <% @product.each do |product| %>
          <% if (product.quantity_needed - product.quantity_available) > 0 %>
            <tr>
              <td> <p><strong><%= product.name %></strong></p> </td>
              <td> <%=product.quantity_needed - product.quantity_available %></td>
            </tr>

          <% end %>

        <% end %>
    </tbody>
  </table>

<br>

<div class="d-flex justify-content-center">

<%= link_to "Checkout Product List", products_path,  :class => "btn btn-primary btn-lg"  %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete,  :class => "btn btn-primary btn-lg" %>
</div>

</div>




<% else %>

<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path "homepage-shopping.jpg"%>)">
    <div class="container d-flex">
        <h1>Welcome to the shopping list website </h1>
        <p>Please log in or register 😇.</p>
      <div class="d-flex justify-content-center">
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-lg"%>
        <%= link_to "Log in", new_user_session_path, :class => "btn btn-primary btn-lg" %>
      </div>

    </div>
</div>



<% end %>






