

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quantity needed:</strong>
  <%= @product.quantity_needed %>
</p>

<p>
  <strong>Quantity available:</strong>
  <%= @product.quantity_available %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
